<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!--提前声明命名空间、程序集名称，避免重复书写-->
  <namespace name="LinkToFeature.Data.IRepository" />
  <namespace name="LinkToFeature.Data.Repository" />
  <namespace name="LinkToFeature.Service.IService" />
  <namespace name="LinkToFeature.Service.Service" />
  <assembly name="LinkToFeature.Data" />
  <assembly name="LinkToFeature.Service" />
  
  <!--可定义别名-->
  <!--<alias alias="IUserService" type="LinkToFeature.Service.IService.IUserService, LinkToFeature.Service.IService" />-->
  
  <container name="defualt" >
    <!--type是接口,mapTo是实际类型, 都是"全类名,程序集名称的格式", 可设置别名和命名空间、程序集，然后简写-->
    <register type="IUserRepository" mapTo="UserRepository" />
    <register type="IUserService" mapTo="UserService" />
  </container>
</unity>
